/* header.css
*
* Does this fix the header?
*
*/

header#page_header {
  background-color: #008000;
  text-align: center;
  color: #FFFFFF;
  padding: 10px; 15px;
}

nav#utility {
  float: right;
  font-size: 1em;
}